/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Fondo gris claro para todo el cuerpo */
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #6d358a;
    color: #fff;
    text-align: center;
    padding: 2rem;
    background-image: ;
  }
  
  /* Estilos para la navegación */
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Estilos para la sección "Sobre Mí" */
  #sobre-mi {
    padding: 2rem;
    text-align: center;
  }

  .tocando {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
    border-radius: 10px; /* Redondea las esquinas */
  }
  
  /* Estilos para la sección "Proyectos" */
  #proyectos {
    padding: 2rem;
  }
  
  .proyecto {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
  }
  
  .imagen-bajo {
    width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 2%;
    box-shadow: 0px 2px 5px black rgba(0, 0, 0, 0.3);
  }

  /* Estilos para el pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
  }
  